
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,100;1,200&display=swap');

body{
height: 100vh;
margin: 0%;
background-color: #000000;
font-family: 'Noto Sans',sans-serif;
background-image: url(8e0d1f172512309.6480789f4cbc4.png);
background-position: center top;
background-repeat: repeat;
background-size: 100% 100%;

}

 h1{
    color: rgba(253, 245, 245, 0.932);
}

.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left.main{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center; 
align-items: center;
flex-direction: column;
}



.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; 
    background: #0000004b;
    border-radius: 20px;
    box-shadow:  0px 10px 40px #000000;
}



.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
}

.textfield > input{
     width: 100%;
     border: none;
     border-radius: 10px;
     padding: 15px;
     background:  #303030;
     color:#f0ffff;
     font-size: 12pt;
     box-shadow:0px 10px 40px #00000056;
     outline: none;
     box-sizing: border-box;
    }

    .textfield > label {
       color: #f0ffff;
       margin-bottom: 10px;
    }

    .textfield > input::placeholder {
        color: #F0ffff94;
    }

    .btn-login{
        width: 50%;
        padding: 16px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color: #ffffff;
        background: #383838ab;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px  #0000004b;
    }
